vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jan 2016 10:45:34 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DEPT-30092014\\hao Admin
vti_modifiedby:SR|HAODELL\\hao Admin
vti_timecreated:TR|16 Dec 2014 14:34:06 -0000
vti_nexttolasttimemodified:TR|20 Jan 2016 10:45:09 -0000
vti_cacheddtm:TX|20 Jan 2016 10:45:34 -0000
vti_filesize:IR|17514
vti_cachedlinkinfo:VX|S|../../images/bg/black.grad.bg.fw.png
vti_cachedsvcrellinks:VX|NSUS|file:///C:/Users/hao\\ Admin/Dropbox/SharedWithHaoyong/Website/images/bg/black.grad.bg.fw.png
vti_backlinkinfo:VX|
